<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Title for {{company.name}} | Template 1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<script src=""></script>
	<body>

		<p>Navigation:</p>
		{{> navigation.comp}}


		<div>
		 <h1>Lawyer in {{#company.location}}{{city}}{{/company.location}}</h1>
		 <p>This is the website of {{company.name}}</p>
		 <p>These are all the categories this lawyer serves:</p>

		 <ul>
			{{#each company.category}}
			<li>Category <b>{{name}}</b><br>
				<ul style="padding-bottom: 8px; font-style: italic">
					Employees:
					{{#each employee}}
					<li>{{name}}</li>
					{{/each}}
				</ul>

				<ul>
					Sub category:
					{{#each category}}
					<li>--{{name}}</li>
						<ul>
							Employees:
							{{#each employee}}
							<li>{{name}}</li>

							<ul>
								Experience
								{{#each cv}}
									<li>
										{{title}}<br>&nbsp; &nbsp;
										{{begin}} - {{end}}<br>&nbsp; &nbsp;
										{{description}}
									</li>
								{{/each}}
							</ul>

							{{/each}}
						</ul>
					{{/each}}
				</ul>
			</li>
			{{/each}}
		 </ul>


		 <ul>
			<b>Gallery</b>
			{{#each company.gallery}}
				<li>
					{{title}}<br>&nbsp; &nbsp;
					{{image}}
				</li>
			{{/each}}
		 </ul>

		</div>

	</body>
</html>